/* Navbar Styles */
.navbar {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  backdrop-filter: blur(0);
  background-color: transparent;
  box-shadow: none;

  padding: 0.75rem;
  margin-bottom: 0.5rem;

  transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;

  animation: fadeInDown 1.2s ease-out;
}

.navbar:hover,
.navbar.scrolled {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.nav-left {
  display: flex;
  margin-left: 2rem;
  gap: 3.5rem;
  align-items: center;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 3.25rem;
  align-items: flex-start;
  color: var(--color-text);
  transition: 0.2s ease-out;
}

.nav-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-text:hover {
  color: var(--black);
  text-shadow: 0 0 30px var(--black);
  transition: 0.2s ease-in;
}